@import url('https://fonts.cdnfonts.com/css/euclid-circular-a');

.addButton{
    width: 100%;
    display: inline-block;
    background-color: #151A30;
    color: white;
    padding: 12px 32px;
    font-size: 20px;
font-family: Euclid Circular A;
font-weight: 500;
border-radius: 8px;
transition: all .5s;
text-align: center;
}
.addButton:hover{
    background-color:#e32682 ;
}

.dateInput{
  background-color: #f0f0f0;
  min-width: 100%;
  max-width: max-content;
  height: 55px;
  box-sizing: border-box;
}
.addImage{
    width: 100%;
    display: inline-block;
    border: 1px solid #151A30;
    color: #151A30;
    font-size: 20px;
font-family: Euclid Circular A;
font-weight: 500;
border-radius: 8px;
transition: all .5s;
text-align: center;
}
.addImage:hover{
    background-color: #151A30;
    color: white;
}
::-webkit-scrollbar {
    width: 10px;
    cursor: pointer;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #151A30;
    cursor: pointer;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #060810;
  }

  .languages{
    border-radius: 8px;
    display: inline-block;
    /* width: 40px; */
    padding: 10px 30px;
    font-size: 20px;
    border: 1px solid #151A30;
    font-family: Euclid Circular A;
    font-weight: 500;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    }
  
  .allLangTitle{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: Euclid Circular A;
    font-weight: 500;
  }
  
  
  .editicon{
    cursor: pointer;
    transition: all 0.5s;
    margin-right: 10px;
  }
  .editicon:hover{
    color: #545454;
  }
  .deleteicon{
    cursor: pointer;
    transition: all 0.5s;
  }
  .deleteicon:hover{
    color: #F03333;
  }



  /* edit modal */
  .box{
    background-color: white;
    padding: 70px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transition: all 0.5s;
    border-radius: 10px;
      width: 400px;
}

.adminInput{
    margin-bottom: 15px;
}

.text{
    font-size: 30px;
font-family: Euclid Circular A;
font-weight: 500;
text-align: center;
margin-bottom: 20px;
color: #151A30;
}
.button{
    cursor: pointer;
    font-size: 22px;
    font-family: Euclid Circular A;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    margin-top: 15px;
    background-color: #151A30;
    border-radius: 4px;
    padding: 10px 0 ;
}



.button1{
  cursor: pointer;
  background-color: #151A30;
  color: white;
  width: 100%;
  padding: 8px 16px;
  font-size: 16px;
font-family: Euclid Circular A;
font-weight: 400;
border-radius: 8px;
transition: all .5s;
border: 1px solid #151A30;
text-align: center;margin-bottom: 5px;
}
.button1:hover{
  background-color: #fff;
  border: 1px solid #151A30;
  color: #151A30;
}

.button2{
  cursor: pointer;
  background-color: #e32682;
  color: white;
  padding: 8px 16px;
  font-size: 16px;
font-family: Euclid Circular A;
font-weight: 400;
border-radius: 8px;
transition: all .5s;
  border: 1px solid #e32682;
  text-align: center;
}
.button2:hover{
  background-color: #fff;
  border: 1px solid #e32682;
  color: #e32682;
}


.allEvents{
  font-size: 32px;
  margin: 15px;
  font-family: Euclid Circular A;
  font-weight: 500;
}


.eventCardImg{
  background-position: center;
background-repeat: no-repeat;
background-size: cover;
}