@import url('https://fonts.cdnfonts.com/css/euclid-circular-a');
.title{
    font-family: 'Euclid Circular A', sans-serif;
    color: #fff;
    font-size: 50px;
    margin: auto;
    font-weight: 700;
    transition:  all .3s ease-in-out;
    padding-bottom: 60px;
    cursor: pointer;
}
.title:hover{
    transform: scale(1.05);
    color: #e32682;
}
.itemsContainer1{
    background-color: #151A30;
    padding: 32px;
    min-height: 100vh;

}
.itemsContainer{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    background-color: #151A30;
    /* height: 100vh; */
    width: 210px;
    justify-content: start;
    /* align-items: center; */
    /* padding: 32px; */

}
.image{
    width: 160px;
}
.item{
    padding: 12px 32px;
    border-radius: 8px;
    transition: all 0.5s;
    margin: 5px 0;
    cursor: pointer;
    font-family: 'Euclid Circular A', sans-serif;
    color: #fff;
}
.item:hover{
    background-color: #1C213C;
}